<h1>This is secret page</h1>

<img src="https://images.pexels.com/photos/55787/pexels-photo-55787.jpeg?h=350&auto=compress&cs=tinysrgb">


<li><a href="/register">Signup</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>